@model Car

@{
    ViewBag.Title = "Delete";
}

<h1>Delete</h1>

<div>
    <h4>
        Аre you sure you want to delete the car?
    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Current Car:
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Brand)
            @Html.DisplayFor(model => model.Model)
            @Html.DisplayFor(model => model.Year)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="All" type="submit" value="Back" class="btn btn-primary">Back</a>
    </form>
</div>


